* {
  box-sizing: border-box;
}

.entry input {
  margin: 1rem auto;
  width: 30%;
  line-height: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

#line{
  border-bottom: 3px solid black;
}

.entry button {
  margin: .5rem auto;
  display: block;
  height: 70px;
  width: 70px;
  font-size: large;
  border-radius: 50%;
  background-color: aqua;
  border: 2px solid yellow;
}

.entry button:hover {
  background-color: rgb(173, 242, 178);
}

#num {
  padding: 50px;
}

.square {
  width: 100px;
  height: 100px;
  background: green;
  position: absolute;
  top: 700px;
  animation: squareAnimation 5000ms;
}

@keyframes squareAnimation {
  0% {
    top:500px;
  }

  100% {
    top: 0px;
  }
}